<%- include('partials/header'); -%>

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

<div class="container">
    <div id="linkedin" class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="aman-atg">
        <a class="LI-simple-link" href='https://in.linkedin.com/in/aman-atg?trk=profile-badge'>
            Aman A.
        </a>
    </div>
    <hr>
    <div id="contactMed">
        <span>       
            <h3> <i class="fa fa-github-alt"></i> Github:</h3><a href="https://github.com/aman-atg">AMAN-ATG</a>
        </span>
        <hr>
        <span>
            <h3> <i class="fa fa-envelope-o"></i> Gmail :</h3><a href="mailto:aman.atg001@gmail.com">AMAN.ATG001</a>
        </span>
    </div>


</div>




<!--

 
        <h3>Other work :</h3> <a target="_blank" href="https://datatap.herokuapp.com" rel="noopener noreferrer" tar>Datatap</a> (A downgraded Version of Patatap)
 

    -->
    </div>

<%- include('partials/footer'); -%>