<%- include('partials/header'); -%>
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

    <div id="contact" class="container">

        <h3>Linkedin   :</h3>
        <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="aman-atg"><a class="LI-simple-link" href='https://in.linkedin.com/in/aman-atg?trk=profile-badge'>Aman A.</a></div>

        <h3>Other work :</h3> <a target="_blank" href="https://datatap.herokuapp.com" rel="noopener noreferrer" tar>Datatap</a> (A downgraded Version of Patatap)
        
        <h3>Github  :</h3> <a href="https://github.com/aman-atg">aman-atg</a>

        <h4>Gmail   :</h4> <a href="mailto:aman.atg001@gmail.com">AMAN.ATG001</a>
    </div>





<%- include('partials/footer'); -%>